.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: pink 3px solid;
  height: fit-content;
  flex-direction: column;
}

.input-size {
  flex-grow: 1;
  margin-right: 10px;
}

.tictactoe {
  border: #282c34 1px solid;
}

.info {
  border: pink 1.5px solid;
}